* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ======================================================== */

section {
  width: 90%;
  margin: auto;
  /* border: 2px solid red; */
}

span {
  color: #fed233;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  word-spacing: 6px;
}
/* ======================================================== */

.navbarSection {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbarContainer {
  width: 100%;
  height: 8vh;
  /* border: 2px solid green; */
  display: flex;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.27);
}

.navbarContainerLeft {
  width: 85%;
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbarContainerLeft li {
  list-style: none;
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 450;
}
.navbarContainerLeft .yellow {
  color: #fed233;
  list-style: none;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.navbarContainerRight {
  width: 15%;
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbarContainerRight .cart {
  position: relative;
}

.navbarContainerRight .cart img {
  height: 40px;
  width: 40px;
}

.navbarContainerRight .cart p {
  position: absolute;
  text-align: center;
  bottom: 24px;
  left: 22px;
  height: 18px;
  width: 18px;
  font-size: 16px;
  background-color: #fed233;
  border-radius: 10px;
}

/* ======================================================== */

.landingSection {
  height: 80vh;
  display: flex;
}

.landingSectionLeft {
  width: 30%;
  height: 90%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.landingSectionLeftItem1 {
  width: 95px;
  height: 92px;
}

.landingSectionLeftItem2 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.landingSectionMiddle {
  width: 40%;
  height: 90%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.landingSectionMiddleItem1 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  word-spacing: 6px;
}
.landingSectionMiddleItem2 {
  width: 360px;
  height: 360px;
  border-radius: 50%;
}

.landingSectionRight {
  width: 30%;
  height: 90%;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.landingSectionRightItem1 {
  width: 75px;
  height: 68px;
}
.landingSectionRightItem2 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.backgroundLeft {
  position: absolute;
  height: 160px;
  width: 200px;
  left: 0;
  background-color: #f8dc79;
  opacity: 0.6;
  filter: blur(70px);
}
.backgroundRight {
  position: absolute;
  height: 160px;
  width: 200px;
  right: 0;
  top: 160px;
  background-color: #f8dc79;
  opacity: 0.6;
  filter: blur(70px);
}
/* ======================================================== */

.lifestyleSection {
  height: 65vh;
  position: relative;
  display: flex;
  margin-bottom: 200px;
}

.lifestyleSection img {
  width: 32%;
  height: 65%;
  position: absolute;
  right: 40px;
  bottom: 0;
}

.lifestyleSectionRight {
  width: 22%;
  height: 90%;
  position: absolute;
  right: 0;
  background-color: #fed233;
}

.lifestyleSectionLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lifestyleSectionLeft h4 {
  width: 75%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  word-spacing: 6px;
  color: #5a5a5a;
  /* border: 2px solid blue; */
}

.lifestyleSectionLeft p {
  width: 62%;
  font-family: "Open Sans", sans-serif;
  color: #5a5a5a;
  /* border: 2px solid blue; */
}

.lifestyleSectionLeft button {
  width: 90px;
  height: 30px;
  background-color: #454545;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

/* ======================================================== */

.heathAdviceSection {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 100px;
}
.heathAdviceSectionTop {
  width: 100%;
  height: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid green; */
}

.heathAdviceSectionTop h4 {
  width: 60%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  word-spacing: 6px;
  color: #5a5a5a;
}

.heathAdviceSectionBottom {
  width: 100%;
  height: 70%;
  /* border: 2px solid blue; */
  display: flex;
  position: relative;
}

.heathAdviceSectionBottomleft {
  width: 50%;
  height: 100%;
  display: flex;
  /* border: 2px solid green; */
}

.heathAdviceSectionBottomLeftItem1 {
  width: 60%;
  height: 90%;
  margin-top: 32px;
  background-color: #fed233;
}
.heathAdviceSectionBottomLeftItem2 {
  width: 40%;
  height: 90%;
  left: 30px;
  bottom: 30px;
  position: absolute;
}

.heathAdviceSectionBottomRight {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid gold; */
}

.heathAdviceSectionBottomRight li {
  font-family: "Open Sans", sans-serif;
  color: #5a5a5a;
  line-height: 1.5em;
  text-indent: -1.5em;
}

.heathAdviceSectionBottomRight button {
  width: 90px;
  height: 30px;
  background-color: #454545;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

/* ======================================================== */

.chooseusSection {
  height: 80vh;
  margin-bottom: 80px;
  /* border: 2px solid gold; */
}

.chooseusSectionTop {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid greenyellow; */
}

.chooseusSectionTop p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  word-spacing: 6px;
  color: #5a5a5a;
}
.chooseusSectionBottom {
  width: 100%;
  height: 80%;
  /* border: 2px solid blue; */
  display: flex;
}

.chooseusSectionBottomLeft {
  width: 70%;
  height: 92%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.chooseusSectionBottomLeftItems {
  width: 100%;
  height: 25%;
  /* border: 2px solid blue; */
  display: flex;
}

.chooseusSectionBottomLeftItemsChildLeft {
  width: 8%;
  height: 85%;
  /* border: 2px solid blue; */
}

.chooseusSectionBottomLeftItemsChildLeft img {
  width: 66%;
  height: 65%;
}

.chooseusSectionBottomLeftItemsChildRight {
  width: 100%;
  height: 70%;
  /* border: 2px solid blue; */
  padding-left: 20px;
}

.chooseusSectionBottomLeftItemsChildRight {
  font-family: "Open Sans", sans-serif;
  color: #5a5a5a;
}

.chooseusSectionBottomRight {
  width: 50%;
  height: 90%;
  /* border: 2px solid red; */
  position: relative;
}

.chooseusSectionBottomRightContainer {
  width: 60%;
  height: 90%;
  background-color: #fed233;
  position: absolute;
  right: 0;
}

.chooseusSectionBottomRight img {
  width: 80%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 15px;
}

/* ======================================================== */

.categoriesSection {
  height: 80vh;
  margin-bottom: 80px;
}
.categoriesSectionTop {
  width: 100%;
  height: 22%;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categoriesSectionTop p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  word-spacing: 6px;
  color: #5a5a5a;
}

.categoriesSectionBottom {
  width: 100%;
  height: 78%;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  position: relative;
}

.categoriesSectionBottomLeft {
  width: 63.31%;
  height: 90%;
  background-color: #fed233;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid red; */
}

.categoriesSectionBottomLeft li {
  width: 70%;
  font-family: "Open Sans", sans-serif;
  color: #5a5a5a;
  line-height: 3em;
  text-indent: 1.5em;
  /* border: 2px solid red; */
}

.categoriesSectionBottomRight {
  width: 54%;
  height: 100%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  right: -1px;
}

.categoriesSectionBottomRightChild {
  width: 32%;
  height: 48%;
  /* background-color: wheat; */
  background: #ffffff;
  background: #ffffff;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.1);
}

/* ======================================================== */

.provideSection {
  height: 90vh;
  margin-bottom: 80px;
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.provideSectionHeading {
  height: 10vh;
  width: 100%;
  /* border: 2px solid red; */
}

.provideSectionTop {
  width: 100%;
  height: 35vh;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}

.provideSectionTopChild {
  width: 26%;
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.provideSectionTopChild img {
  width: 100%;
  height: 70%;
}

.provideSectionTopChild h4 {
  font-family: "Open Sans", sans-serif;
  color: #5a5a5a;
}

.provideSectionTopChild p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  color: #5a5a5a;
}

.provideSectionBottom {
  width: 100%;
  height: 35vh;
  /* border: 2px solid blue; */
}

.provideSectionBottom {
  display: flex;
  justify-content: space-between;
}

.provideSectionBottomChild {
  width: 26%;
  height: 100%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.provideSectionBottomChild img {
  width: 100%;
  height: 70%;
}

.provideSectionBottomChild h4 {
  font-family: "Open Sans", sans-serif;
  color: #5a5a5a;
}

.provideSectionBottomChild p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  color: #5a5a5a;
}

/* ======================================================== */

.workSection {
  height: 90vh;
}

.workSectionTopHeading {
  width: 100%;
  height: 14vh;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.workSectionTopHeading p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  word-spacing: 6px;
  color: #5a5a5a;
  margin-bottom: 10px;
}

.workSectionBottom {
  width: 100%;
  height: 80vh;
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  position: relative;
}

.workSectionBottomLeft {
  width: 60%;
  height: 98%;
  background-color: #fed233;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.workSectionBottomLeft .item1 {
  width: 60%;
  height: 18%;
  background-color: #fee898;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.workSectionBottomLeft .item1 .num1 {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  position: absolute;
  font-size: 1.1em;
  left: -20px;
  text-align: center;
  padding-top: 10px;
  color: #5a5a5a;
}

.workSectionBottomLeft .item1 p {
  width: 75%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  color: #5a5a5a;
  text-align: center;
}

.workSectionBottomLeft .item1 h3 {
  font-family: "Open Sans", sans-serif;
  color: #5a5a5a;
}

.workSectionBottomRight {
  width: 36%;
  height: 92%;
  background-color: #fff;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 120px;
}

.workSectionBottomRight h1 {
  text-align: center;
}

.workSectionBottomRight img {
  width: 62%;
  height: 60%;
}

/* ======================================================== */
